p{
    font-weight: 300;
}

h1{
    font-weight: 400;
}

#root {
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
}

#anime-recommender{
    position: relative;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 20px;
    justify-content: center;
}

#anime-recommender #background{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

#anime-recommender #background #bg-screen{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-color: rgba(0, 0, 0, 1);
}

#anime-recommender #background img{
    height: 100%;
    z-index:-2;
}


#anime-recommender #anime-input{
    width: 30%;
    padding: 20px 20px;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    transform: scale(1);
    color: black;
    font-size: 24px;
    outline: none;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#anime-recommender #anime-input:focus{
    transform: scale(1.1)
}

input:focus{
    outline: none;
    width: 50%;
}

#anime-recommender #button{
    position: relative;
    border: 1px solid white;
    margin: 50px;
    padding: 10px 50px;
    border-radius: 10000px;
    cursor: pointer;
    overflow: hidden;
    transition: padding 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#anime-recommender #button #button-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: top 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

#anime-recommender #button #button-bg p{
    font-size: 18px;
}

#anime-recommender #button p{
    position: relative;
    font-size: 16px;
    pointer-events: none;
}

#anime-recommender #button:hover{
    padding: 12px 5em;
}

#anime-recommender #button:hover #button-bg{
    top: 0;
}

#page-title{
    font-size: 5em;
    font-weight: 200;
    margin: 5px;
}


#anime-recom-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#anime-recom {
    position: relative;
    width: 100%;
    height: 100%;
    row-gap: 50px;
    column-gap: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 25% 25% 25%;
}

#anime-wrapper {
    position: relative;
}

#anime-wrapper #anime-details {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}

#anime-wrapper #anime-details #anime-data{
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translate(0, 100%);
    transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#anime-wrapper #anime-details #anime-data #anime-data-wrapper{
    padding: 30px;
}

#anime-wrapper #anime-details:hover #anime-data{
    transform: translate(0%, 0%);
}

#anime-wrapper #anime-details:hover #anime-data p{
    color: black;
    font-size: 13px;
    max-height: 20vh;
    height: auto;
    overflow: hidden;
    margin: 0;

}
#anime-wrapper #anime-details:hover #anime-data h3{
    color: red;
    margin: 10px 0;
    font-size: 18px;
    text-overflow: ellipsis;
    width: 100%;
}

#anime-wrapper #anime-details:hover #anime-data h4{
    margin: 10px 0;
    color: black;
    border-bottom: 2px solid red;
}

#anime-wrapper #anime-details:hover #anime-data #genres{
    margin: 10px 0;
}

#anime-wrapper #anime-details:hover #anime-data #genres span{
    display: flex;
    height: auto;
}

#anime-wrapper #anime-details:hover #anime-data #genres span p{
    height: auto;
}

#anime-wrapper #anime-details:hover #anime-data #extra-data{
    display: flex;
}

#anime-wrapper #anime-details:hover #anime-data #extra-data div{
    margin-right: 20px;
}

#sug-anime-wrapper #anime-data #link{
    margin: 20px 0 0 0;
    font-size: 14px;
}

#sug-anime-wrapper #anime-data #link a{
    color: black;

}

#sug-anime-wrapper #anime-data #link a:visited{
    color: red;
}



#anime-details #image-wrapper {
    position: relative;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
}

#anime-details #image-wrapper img {
    position: absolute;
    top: 0;
    border-radius: 20px;
    width: 100%;
}

#anime-headings{
    width: 100%;
    margin: 20px 0;
}

#anime-headings h5{
    margin: 0;
}

#sug-anime-wrapper #anime-headings #anime-title{
    margin: 0;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%; /* some width */
}

#anime-details h5{
    margin: 0;
}

#searched-anime-wrapper{
    position: relative;
    display: flex;
    width: 80vw;
    height: auto;
    padding: 3em;
    border: 2px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
    border-radius: 20px;
}

#searched-anime-details{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#searched-anime-details #anime-details{
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
}

#searched-anime-details #anime-details p{
    margin: 0;
    font-size: 14px;
}

#searched-anime-details #anime-details #genres{
    display: flex
}

#searched-anime-details #image-wrapper{
    position: relative;
    flex: 0.5;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    margin-right: 40px;
    border: 2px solid white;
}

#searched-anime-details #image-wrapper img{
    top: 0;
    bottom: 0;
    position: relative;
    width: 100%;
}

#footer{
    display: flex;
}

#footer div{
    margin-right: 20px;
}

#anime-data{
    position: absolute;
    width: 100%;
    height: 100%;
}

.label{
    margin:10px 0 5px 0;
    width: 100%;
    font-size: 14px;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.4);
}

#anime-recommender #media-type{
    margin: 20px;
    display: flex;
    max-width: 25%;
    width: 25%;
    flex-direction: row;
    justify-content: center;
}

#anime-recommender #media-type .radio{
    margin: 0 20px;
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    border-radius: 40px;
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#anime-recommender #media-type .radio:hover{

}

#anime-recommender #media-type .radio h1{
    pointer-events: none;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    border-radius: 500px;
    padding: 20px 50px;
    overflow: hidden;
    background: lightcoral;
    color: black;
   }
   
   button span {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    z-index: 10;
    pointer-events: none;
    transition: color 0.4s;
   }

   
   button::before,
   button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   button::before {
    content: "";
    background: white;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   button:hover::before {
    transform: translate3d(100%, 0, 0);
   }

   button.selected::before{
    transform: translate3d(100%, 0, 0);
   }
   